<template>
    <div>
        <div class="box" v-if="section.section">
            <h1>{{section.section.name}}</h1>

        </div>
        <div id="map">

        </div>
    </div>
</template>

<script>
    import L from 'leaflet'

    let section = {}

    export default {
        data() {
            return {
                section
            }
        },
        created: function () {
            this.$store.dispatch('show_section', {params: {id: this.$route.params.id}}).then(section => {
                this.section = section.data

                var map = L.map('map').setView([51.505, -0.09], 13)
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: process.env.VUE_APP_MAPBOX_KEY
                }).addTo(map)

                var sectionLayer = L.geoJSON().addTo(map)
                sectionLayer.addData(this.section.section.path)

                map.fitBounds(sectionLayer.getBounds())
            }, response => {
                this.$notify({
                    group: 'error',
                    title: 'Error',
                    duration: -1,
                    text: response.response.data.status + " " + response.response.data.error
                });
            })
        }
    }
</script>

<style>
    #map {
        height: 500px
    }
</style>
