<template>
    <div class="box">
        <form @submit.prevent="handleSubmit">
            <label for="username">Display name: </label>
            <input id="username" name="user[username]">
            <label for="user[setting_unit]">Units</label>
            <select name="user[setting_unit]" id="user[setting_unit]">
                <option value="metric">Metric</option>
                <option value="imperial">Imperial</option>
            </select>
            <input type="submit">
        </form>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        methods: {
            handleSubmit(event) {
                let formData = new FormData(event.target);
                axios.post(process.env.VUE_APP_API_BASE + 'profile/', formData).then(
                    function (response) {
                        window.location.replace('/profile')
                    }
                )
            }
        }
    }
</script>