<template>
    <div id="app">
        <header>
            <a href="/">PikaTrack</a>
            <a v-if="uid" href="/activity/new">Upload an activity</a>

            <div class="right-nav"></div>
            <a v-if="uid" href="/profile">{{uid}}</a>
            <a v-if="uid" v-on:click="logout">Sign Out</a>
            <a v-if="!uid" href="/login">Login</a>
            <a v-if="!uid" href="/signup">Sign up</a>
            <a href="/contact">Report issue</a>
        </header>
        <div class="content">
            <router-view/>
        </div>
        <notifications group="error"/>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'App',
        data() {
            return {uid: localStorage.getItem('uid')}
        },
        methods: {
            logout: function() {
                axios.delete(process.env.VUE_APP_API_BASE + 'auth/sign_out')
                .then(function() {
                    localStorage.removeItem('access-token')
                    localStorage.removeItem('client')
                    localStorage.removeItem('uid')
                    window.location.replace("/")
                }).catch(response => {
                    this.$notify({
                        group: 'error',
                        title: 'Error',
                        duration: -1,
                        text: response.response.data.status + " " + response.response.data.error
                    });
                    }
                )
            }
        }
    }
</script>

<style>
    .right-nav {
        margin-left: auto
    }
</style>